BETTER_AUTH_SECRET="BETTER_AUTH_SECRET"
BETTER_AUTH_URL="APP_URL"
NEXT_PUBLIC_APP_URL="APP_URL"


GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"


DATABASE_URL="DATABASE_URL"
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

NEXT_PUBLIC_PIESOCKET_CLUSTER_ID="free.blr2"
NEXT_PUBLIC_PIESOCKET_API_KEY="F6y6bNEzxhFn3gkxubwElu1KPdFHuRKzICDsfPO9"
NEXT_PUBLIC_PIESOCKET_CHANNEL_ID="1"
NEXT_PUBLIC_PIESOCKET_WS_URL="wss://free.blr2.piesocket.com/v3/1?api_key=F6y6bNEzxhFn3gkxubwElu1KPdFHuRKzICDsfPO9&notify_self=1"
